<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8"/>
        <title>Images of Turmeric</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/stylesheet1.css')}}">
    </head>
    <body>
    <header>
        <img src="{{url_for('static', filename='images/turmeric2.jpg')}}">
        <h1>Images of Curcuma Species</h1>
        </header>
    <nav>
            <ul>
                <li><a href="index1">Home</a></li>
                <li><a href="species">Species</a></li>
                <li><a href="images">Gallery</a></li>
                <li><a href="quicklinks">Quick Links</a></li>
                <li><a href="kitchen">Role in food</a></li>
                <li><a href="people">Developed by</a></li>
            </ul>
        </nav>
    <main>
   
       
     <p><b>Click on the images to get the details...</b></p>
    <section class="gallery">
   
    <figure>
    <a href="species#one">
    <img src="{{url_for('static', filename='images/alismatifolia.jpeg')}}" alt="Image of Curcuma alismatifolia" ></a>
    <figcaption>Curcuma alismatifolia</figcaption>
    </figure>
   
    <figure><a href="species#four">
    <img src="{{url_for('static', filename='images/aromatica.jpg')}}" alt="Image of Curcuma aromatica" ></a><figcaption>Curcuma aromatica</figcaption></figure>
   
    <figure><a href="species#six">
    <img src="{{url_for('static', filename='images/caesia.jpg')}}" alt="Image of Curcuma caesia"></a><figcaption>Curcuma caesia</figcaption></figure>
   
    <figure><a href="species#three"><img src="{{url_for('static', filename='images/angustifolia.jpeg')}}" alt="Image of Curcuma angustifolia" ></a><figcaption>Curcuma angustifolia</figcaption></figure>
   
    <figure><a href="species#two">
    <img src="{{url_for('static', filename='images/amada.jpeg')}}" alt="Image of Curcuma amada" /></a><figcaption>Curcuma amada</figcaption></figure>
   
    <figure><a href="species#eleven">
    <img src="{{url_for('static', filename='images/roscoeana.jpeg')}}" alt="Image of Curcuma roscoeana" /></a><figcaption>Curcuma roscoeana</figcaption></figure>
   
    <figure><a href="species#five">
    <img src="{{url_for('static', filename='images/australisia.jpg')}}" alt="Image of Curcuma australisia" /></a><figcaption>Curcuma australisia</figcaption></figure>
   
    <figure><a href="species#twelve">
    <img src="{{url_for('static', filename='images/zedoaria.jpg')}}" alt="Image of Curcuma zedoaria" /></a><figcaption>Curcuma zedoaria</figcaption></figure>
   
   
    <figure><a href="species#eight">
    <img src="{{url_for('static', filename='images/longa.jpeg')}}" alt="Image of Curcuma longa" /></a><figcaption>Curcuma longa</figcaption></figure>
   

    <figure><a href="species#nine">
    <img src="{{url_for('static', filename='images/petiolata.jpg')}}" alt="Image of Curcuma petiolata" /></a><figcaption>Curcuma petiolata</figcaption></figure>
   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bNBf0b6lyUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
   
    </section>
    </main>
    </body>
   
    <footer>
    <ul>
     <li><a href="index">Home</a></li>
     <li><a href="quicklinks">Next Page</a></li>
     </ul>
     <p>
    <small>@developed for educational purpose only.</small></p>
     </footer>
