<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Role in food </title>
        <meta charset="utf-8" />  
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/stylesheet1.css')}}">
    </head>
   
    <body>
    <header>
        <img src="{{url_for('static', filename='images/turmeric2.jpg')}}">
        <h1>Role in Food</h1>
        </header>
    <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="species">Species</a></li>
                <li><a href="images">Gallery</a></li>
                <li><a href="quicklinks">Quick Links</a></li>
                <li><a href="kitchen">Role in food</a></li>
                <li><a href="people">Developed by</a></li>
            </ul>
        </nav>
    <main>
    <section class="kitchen">
    <h3>Role In Food</h3>
    <p> <strong>Turmeric</strong> adds flavor to <b>food</b>, which explains its presence in curry powder. However, <b>turmeric</b> can also play an important role in digesting the food. The spice can contribute to healthy digestion as a result of its antioxidant and anti-inflammatory properties.
   
    <h3>Ways to eat and drink turmeric</h3>
    <p>Add it to scrambles and frittatas.</p>
    <img src="{{url_for('static', filename='images/scram.jpg')}}">
    <p>Toast it with roasted vegetables</p>
    <img src="{{url_for('static', filename='images/vegetables.jpg')}}">
    <p>Add it to rice</p>
    <img src="{{url_for('static', filename='images/rice.jpg')}}">
    <p>Try it with soups and beans</p>
    <img src="{{url_for('static', filename='images/soup.jpg')}}">
    <p>Make Tea</p>
    <img src="{{url_for('static', filename='images/tea.jpg')}}">
    <p>Blend it into a smoothie</p>
    <img src="{{url_for('static', filename='images/smoothie.jpg')}}">
   
   
   
   
    </main>
   
    </body>
    <footer>
    <ul>
     <li><a href="index1">Home</a></li>
     <li><a href="people">Next Page</a></li>
     </ul>
      <p>
    <small>@developed for education purpose only.</small></p>
    </footer>
    </html>
