<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Developer </title>
        <meta charset="utf-8" />  
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/stylesheet1.css')}}">
        <body>
        <header>
        <img src="{{url_for('static', filename='images/turmeric2.jpg')}}">
        <h1>Developer</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index1">Home</a></li>
                <li><a href="species">Species</a></li>
                <li><a href="images">Gallery</a></li>
                <li><a href="quicklinks">Quick Links</a></li>
                <li><a href="kitchen">Role in food</a></li>
                <li><a href="people">Developed by</a></li>
            </ul>
        </nav>
        <main>
        <article>
        <h1>My First Web Page</h1>
       
        <p>
        <strong>"Education is the manifestation of the perfection already in man"</strong> quoted by <i>Swami Vivekananda</i>.</p>
       
        <p>
        Hello everyone. My name is Priya. This is my first website. I have learned how to work on HTML and CSS.
        </p>
        <p>
        Education plays a vital role in the life of humans. I have gathered the information about the plant Species of Turmeric(Scientifically:Curcuma).
       
         I have gathered the information about the different species of the turmeric plant and assembled to get a better understanding about the plant and its species. This plant plays a major role in the field of medicine as well as in the life of humans in the form of food. As a food it gives more remedies for many kind of diseases of which some are proven and some of them are yet to be proved.</p>
        <h4>ABOUT ME</h4>
        <p>
        I am a learner. I was born in the southern part of India. I had my schooling in India. The below links will direct to the schools and colleges from where I have gathered the knowledge which has taken me this level. Currently, I am pursuing my Masters in Bioinformatics in UCC.
        </p>
        <p>I whole heartedly thank<a href="http://www.cs.ucc.ie/~dgb/">Dr.Derek Bridge</a>who guided me to this extent.</p>
        </article>
        <ol>
            <li><a href="https://en.wikipedia.org/wiki/Vivekananda_Kendra_Vidyalaya">VKV </a></li>
            <li><a href="http://www.niuniv.com/">Noorul Islam University</a></li>
            <li><a href="https://www.b-u.ac.in/">Bharathiyar University</a></li>
            <li><a href="https://www.ucc.ie/en/">UCC</a></li>
        </ol>
        </main>
        </body>
        <footer>
        <ul>
        <li><a href="index1">Home</a></li>
        </ul>
        <p>
        <small>@developed for educational purpose only.Sources:Wikipedia and other websites.</small></p>
        </footer>
</html>