<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8"/>
        <title>Quick links</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/stylesheet1.css')}}">
    </head>
    <body>
   
        <header>
        <img src="{{url_for('static', filename='images/turmeric2.jpg')}}">
        <h1>More about Curcuma</h1>
        </header>
       
        <nav>
            <ul>
                <li><a href="index1">Home</a></li>
                <li><a href="species">Species</a></li>
                <li><a href="images">Gallery</a></li>
                <li><a href="quicklinks">Quick Links</a></li>
                <li><a href="kitchen">Role in food</a></li>
                <li><a href="people">Developed by</a></li>
            </ul>
        </nav>
        <main>
        <section class="role">
        <h3>References</h3>
        <p>
        Various information about the plant species is given in this website. To have a better understanding about the plant,its uses,its benefits,medicinal properties,side effects,its role in food etc. you can click on the links below.All the links can give a detailed knowledge about the plant and its species.
        </p>
        <p><b>Species of Curcuma pages</b></p>
        <li><a href="https://en.wikipedia.org/wiki/Turmeric">https://en.wikipedia.org/wiki/Turmeric</a></li>
   
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_alismatifolia">https://en.wikipedia.org/wiki/Curcuma_alismatifolia</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma">https://en.wikipedia.org/wiki/Curcuma</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_alismatifolia">https://en.wikipedia.org/wiki/Curcuma_alismatifolia</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_amada">https://en.wikipedia.org/wiki/Curcuma_amada</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_angustifolia">https://en.wikipedia.org/wiki/Curcuma_angustifolia</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_aromatica">https://en.wikipedia.org/wiki/Curcuma_aromatica</a></li>
       
               
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_australasica">https://en.wikipedia.org/wiki/Curcuma_australasica</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_caesia">https://en.wikipedia.org/wiki/Curcuma_caesia</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_comosa">https://en.wikipedia.org/wiki/Curcuma_comosa</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_petiolata">https://en.wikipedia.org/wiki/Curcuma_petiolata</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_prakasha">https://en.wikipedia.org/wiki/Curcuma_prakasha</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_roscoeana">https://en.wikipedia.org/wiki/Curcuma_roscoeana</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_zanthorrhiza">https://en.wikipedia.org/wiki/Curcuma_zanthorrhiza</a></li>
       
        <li><a href="https://en.wikipedia.org/wiki/Curcuma_zedoaroides">https://en.wikipedia.org/wiki/Curcuma_zedoaroides</a></li>
       
        <p><b>Other Web links</b></p>
       
        <li><a href="https://www.healthline.com/nutrition/top-10-evidence-based-health-benefits-of-turmeric">https://www.healthline.com/nutrition/top-10-evidence-based-health-benefits-of-turmeric</a></li>
       
        <li><a href="https://www.webmd.com/vitamins/ai/ingredientmono-662/turmeric">https://www.webmd.com/vitamins/ai/ingredientmono-662/turmeric</a></li>
       
        <li><a href="https://www.ncbi.nlm.nih.gov/books/NBK92752/">https://www.ncbi.nlm.nih.gov/books/NBK92752/</a></li>
       
        <li><a href="https://www.everydayhealth.com/diet-nutrition/diet/scientific-health-benefits-turmeric-curcumin/">https://www.everydayhealth.com/diet-nutrition/diet/scientific-health-benefits-turmeric-curcumin/</a></li>
       
        <li><a href="https://www.arthritis.org/living-with-arthritis/treatments/natural/supplements-herbs/guide/turmeric.php">https://www.arthritis.org/living-with-arthritis/treatments/natural/supplements-herbs/guide/turmeric.php</a></li>


        <li><a href="http://www.whfoods.com/genpage.php?tname=foodspice&dbid=78">http://www.whfoods.com/genpage.php?tname=foodspice&dbid=78</a></li>
       
        <li><a href="https://www.thekitchn.com/7-ways-to-eat-drink-turmeric-198696">https://www.thekitchn.com/7-ways-to-eat-drink-turmeric-198696</a></li>
        </section>
        </main>
        <footer>
    <ul>
     <li><a href="index1">Home</a></li>
     <li><a href="kitchen">Next Page</a></li>
     </ul>
     </footer>
        </body>
</html>
        
        
